/* positioning */
  
:root {
    --transition-duration: 0.3s; /* Transition duration in seconds */
    --scale: 0.9; /* Scale factor */
  }

  .light-mode {
    --lav1: #c1add4;
    --lav2: #857490;
    --lav3: #a12aec;
    --lav4: #E4DAED;
    --lav5: #ffffff;
    transition: var(--transition-duration) background-color;
  }
  
  .dark-mode {
    --lav1: #c1add4;
    --lav2: #857490;
    --lav3: #a12aec;
    --lav4: #343236;
    --lav5: #100E11;
    transition: var(--transition-duration) background-color;
  }  
  
  body {
    transform: scale(var(--scale));
    transform-origin: top left;
    width: 111.1111%;
    height: 111.1111%;
    margin-left: -5.5555%;
    margin-top: -5.5555%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: var(--lav4);
    transition: var(--transition-duration) background-color;
  }
  
  .header {
    z-index: 1000;
    width: 100%;
    height: 92px;
    padding: 0;
    background-color: var(--lav5);
    transition: var(--transition-duration) background-color;
  }
  
  .logo {
    height: 60px;
    margin-top: 16px;
    fill: var(--logocolor);
  }
  
  .title {
    position: absolute;
    margin: 0;
    top: 25px;
    left: 90px;
    -webkit-user-select: none; /* safari */
    -moz-user-select: none; /* firefox */
    -ms-user-select: none; /* ie10+/edge */
    user-select: none; /* standard */
  }
  
  @media screen and (max-width: 768px) {
    .title {
      font-size: 42px; /* Set the same font size as before */
    }
  }
  
  .head-left {
    margin-left: 22px;
  }
  
  .head-right {
    position: absolute;
    top: 5px;
    text-align: right;
  }
  
  a {
    --logocolor: var(--lav1);
    color: var(--lav1);
    text-decoration: none;
  }
  
  a:hover {
    --logocolor: var(--lav2);
    color: var(--lav2);
  }
  
  a:active {
    --logocolor: var(--lav3);
    color: var(--lav3);
  }
  
  .toggle-themes {
    position: absolute;
    top: 27px;
    fill: var(--logocolor);
    height: 30px;
  }
  
  /* text styles */
  
  @font-face {
    font-family: 'MedievalSharp';
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqZwMinUPDhdog.woff2)
      format('woff2');
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqhwMinUPDg.woff2)
      format('woff2');
  }
  
  h1 {
    font-family: 'MedievalSharp';
    font-weight: normal;
    font-size: 42px;
  }
  
  h2 {
    font-family: 'MedievalSharp';
    font-weight: normal;
    font-size: 26px;
  }
  
  p {
    font-family: 'MedievalSharp';
    font-weight: normal;
    text-align: left;
    font-size: 18px;
  }
  
  li {
    font-family: 'MedievalSharp'; /* may use different font */
    font-weight: normal;
    font-size: 20px;
    list-style: none;
  
    display: inline; /* flat list */
    padding: 8px;
  }
  
  .noselect {
    -webkit-user-select: none; /* safari */
    -moz-user-select: none; /* firefox */
    -ms-user-select: none; /* ie10+/edge */
    user-select: none; /* standard */
  }
  