@import 'normalize.css';
@import 'colors.css';
@import 'header.css';
  
body {
  overflow: hidden;
  background-color: var(--lav4);
}

main {
  display: grid;
  position: fixed;
  top: 82.8px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100vw;
  height: calc(100vh - 82.8px);
  background-color: var(--lav4);
  transition: 0.3s background-color;
}

a {
  --logocolor: var(--lav1);
  color: var(--lav1);
  text-decoration: none;
}
a:hover {
  --logocolor: var(--lav2);
  color: var(--lav2);
}
a:active {
  --logocolor: var(--lav3);
  color: var(--lav3);
}

li {
  display: inline;
  padding: 0 10px 0 10px;
}
  
@font-face {
  font-family: 'MedievalSharp';
  src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqhwMinUPDg.woff2) format('woff2');
}

h1, h2, p {
  font-family: 'MedievalSharp';
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 37.8px;
}
  
h2 {
  font-size: 23.4px;
}
  
p {
  text-align: left;
  font-size: 23.4px;
}
  
.noselect, .title, header {
  -webkit-user-select: none; /* safari */
  -moz-user-select: none; /* firefox */
  -ms-user-select: none; /* ie10+/edge */
  user-select: none; /* standard */
}